.main-container {
  border: 2px dotted #888;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 2rem auto;
  background: #fff;
}
button {
    background-color: teal;
    color: white;
    font-weight: bold;
}